<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Margarita Andrianova Main</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Indie+Flower">
    <script type="text/javascript" src="../js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">Margarita Andrianova</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="portfolio.html">Portfolio</a>
                  <a class="nav-item nav-link" href="hobby.html">Hobby</a>
                  <a class="nav-item nav-link" href="contacts.html">Contacts</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid mx-0 contents">

<div class="container mx-auto my-5">
<div class="row align-content-center">
    <div class="col-md-6 my-auto intro">
        <h1 id="name">Margarita Andrianova</h1>
        <h2>From Moscow, Russia</h2>
        <p class="text-muted">I am 31 years old and I decided to do programming. I have long wanted this, but all the time I could not fully start. Now I study every day and program something. Seven days a week. And I really like to do it.</p>
    </div>
    <div class="col-md-6">
        <img src="../img/photo_2020-02-18_17-15-18.jpg" class="img-thumbnail rounded-circle" alt="me">
    </div>
</div>
</div>



</div>
</body>
</html>